<script type="text/javascript" charset="utf-8">
	setInterval(function(){
	$.getJSON('https://limitless-ravine-8422.herokuapp.com/ghouses/1.json', null, function(data) {
      console.log(String(data));
      line_chart("temperature_data", data);
 		 	});
 	}, 10000);


 	function line_chart(div, data)
{
	Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

	new Highcharts.Chart({

		chart: {
			renderTo: div
		},

		title: {

			text: "Temperature"
		},

		xAxis: {
			type: "datetime"
		},

		yAxis: {
			title: {
				text: "Degrees"
			}
		},

		series: [{
			data: data
		}]
	})


}

	
</script>
<div id = "temperature_data" style = "width:500px; heigh:300px;">

</div>
<%= @ghouse.name %>, <%= @ghouse.address %>
<ol class="microposts">
<%= @ghouse.conditions.all %>
</ol>