<script type="text/javascript" charset="utf-8">
	//'http://localhost:3000/ghouses/1.json'
    //'https://limitless-ravine-8422.herokuapp.com/ghouses/1.json'
    $.getJSON('https://limitless-ravine-8422.herokuapp.com/ghouses/1.json', null, function(data) {
      console.log(String(data));
      line_chart("temperature_data", data);
            });
    setInterval(function(){
	$.getJSON('https://limitless-ravine-8422.herokuapp.com/ghouses/1.json', null, function(data) {
      console.log(String(data));
      line_chart("temperature_data", data);
 		 	});
 	}, 30000);


 	function line_chart(div, data)
{
	Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

	new Highcharts.Chart({

		chart: {
			renderTo: div
		},

		title: {

			text: "Temperature"
		},

		xAxis: {
			type: "datetime",
            dateTimeLabelFormats : {
        hour: '%I %p',
        minute: '%I:%M %p'
    }		},

		yAxis: {
			title: {
				text: "Degrees"
			},
			min: 0,
			//max: 120,
            minorGridLineWidth: 0,
            gridLineWidth: 0,
            endOnTick: false,
            alternateGridColor: null,

			plotBands: [{ // Light air
                    from: 0,
                    to: 50,
                    color: 'rgba(68, 170, 213, 0.05)',
                    label: {
                        
                        style: {
                            color: '#606060'
                        }
                    }
                }, { // Light breeze
                    from: 80,
                    to: 120,
                    color: 'rgba(255, 0, 0, .05)',
                    label: {
                        
                        style: {
                            color: '#606060'
                        }
                    }
                }]
		},
		plotOptions: {
                line: {
                    dataLabels: {
                        enabled: false
                    },
                    enableMouseTracking: false
                }
            },

		series: [{
            name: 'John',
        color: '#006600',
			data: data
		}]
	})


}

	
</script>
<div id = "temperature_data" style = "width:800px; height:500px;  margin-left: auto ;  margin-right: auto ;">

</div>
<div >
<%= @ghouse.name %>, <%= @ghouse.address %>
</div>