<header class="navbar navbar-fixed-top navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "bloom", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "product",    '#', id: "side" %></li>
          <li><%= link_to "team",    '#', id: "side" %></li>
          <li><%= link_to "sign in", '#', id: "side"  %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>